.prod__box
    width: 846px
    display: flex
    flex-flow: wrap
    padding: 48px 0 83px 0

.content
    display: flex

.item-list
    width: 261px
    height: 44px
    border-radius: 3px
    border: 1px solid #ebebeb
    background-color: #ffffff
    align-items: center
    display: flex

.pager
    display: flex
    list-style-type: none
    width: 183px
    height: 12px
    color: #b0b0b0
    font-family: Lato
    font-size: 16px
    font-weight: bold
    font-style: normal
    letter-spacing: normal
    line-height: 26px
    text-align: left
    align-items: center

.pager a
    color: #b0b0b0
    transition: all 0.25s ease-out

.pager a:hover
    color: #f27d8e

.pager span
    color: #f27d8e

.content-button
    display: flex
    margin-bottom: 110px

.content-button button
    width: 150px
    height: 44px
    border-radius: 3px
    border: 1px solid #ef5b70
    background-color: #ffffff
    transition: all 0.25s ease-out

.content-button button:hover
    background-color: #f16d7f
    color: #ffffff
    border: 1px colid #f16d7f

.view-all
    width: 58px
    height: 13px
    color: #ef5b70
    font-family: Lato
    font-size: 16px
    font-weight: bold
    font-style: normal
    letter-spacing: normal
    line-height: 26px

.dropdown-menu
    display: none

.feature-box
    height: 341px
    background-color: #222224
    width: 100%
    display: flex
    align-items: center

.feature

    &__img
        display: flex
        padding-bottom: 23px
    &__heading
        width: 162px
        height: 16px
        color: #fbfbfb
        font-family: Lato
        font-size: 20px
        font-weight: 700
        font-style: normal
        letter-spacing: normal
        line-height: normal
        text-align: center
        padding-bottom: 33px

    &__text
        width: 308px
        height: 37px
        color: #fbfbfb
        font-family: Lato
        font-size: 14px
        font-weight: 300
        font-style: normal
        letter-spacing: normal
        line-height: 23.95px
        text-align: center
